.navlinks-right{
    color: pink;
    margin-left: 50%;
} 

.box{
    border: black 1px solid;
    margin-right: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}

 h1{
     color:turquoise;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     margin-left: 2%;
     margin-top: 2%;
 }

 hr{
     margin-left: 2%;
     margin-right: 2%;
 }

 .navbar-brand{
     background-color: turquoise;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold; 
     color: white;
 }

form{
    margin-right: 50px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
} 