.navlinks-right{
    color: pink;
    margin-left: 50%;
} 

.box{
    border: black 1px solid;
    margin-right: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}

 #myimage {
    position:relative;
    width:200px;
    height:200px;
    background:red;
    left:10px;
    top:100px;
  } 

 h1{
     color:turquoise;
 }