.navlinks-right{
    color: pink;
    margin-left: 50%;
} 

.navbar-brand{
    background-color: turquoise;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; 
    color: white;
}

.box{
    border: black 1px solid;
    background-color: white;
    /* background-image: url("beach-2179624.jpg"); */
    margin-right: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}

#myimage {
    width:200px;
    height:200px;
    left:10px;
    top:100px;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    margin: 5px;
  } 

  h1{
    color:turquoise;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 2%;
}

hr{
    margin-left: 2%;
    margin-right: 2%;
}

p{
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}
